


body {
    background: rgb(204,204,204);

  }
  page[size="A4"] {
    background: white;
    width: 22cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  @media print {
    body, page[size="A4"] {
      margin: 0;
      box-shadow: 0;
    }
  }
#search_{

    margin-left: 14cm;
    /* margin-top: 20cm; */
    padding-top: 2cm;
  }

#search{
  border: none;
  background: transparent;
}

#table1.td.input{
    border-right: 1px solid black;
}

#table1,#table2{
  border-bottom: none
}

th{
  background-color: #BCC9E7;
}

table, th, td {
  border: 1px solid black;
}

th, td {
      font-size: 12px;
      height: 1cm;
      text-align: center;
      padding-left:0.2cm;
      padding-right:0.2cm;
      white-space: nowrap;
    }


.container {
  margin-top: 2cm;
  /* border: 2px solid black; */
  white-space: nowrap;
  text-align: center;

  }
